# SMTP Configuration
# For Gmail, you can use:
# SMTP_HOST=smtp.gmail.com
# SMTP_PORT=465
# SMTP_SECURE=true
# SMTP_USER=your_email@gmail.com
# SMTP_PASS=your_app_password (generate this in Google Account > Security > App Passwords)

SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=your_smtp_username
SMTP_PASS=your_smtp_password

# The email address where you want to receive the submitted enquiries
RECEIVER_EMAIL=contact@vebgenix.com
